<div class="telegram">
    <ul class="telegram-text">
        <li class="telegram-li">@Html.ActionLink("NEW GAME", "NewGame", "Game")</li>
        <li class="telegram-li">@Html.ActionLink("CONTINUE GAME", "ContinueGame", "Game")</li>
    </ul>
</div>


