<div class="telegram">
    <div class="telegram-text">
        <h2>@ViewData["Title"].</h2>
        <h3>@ViewData["Message"]</h3>

        
            <p>SELECT</p>
            <p>@Html.ActionLink("NEW GAME", "NewGame", "Game")</p>
            <p>OR</p>
            <p>@Html.ActionLink("CONTINUE", "ContinueGame", "Game")</p>
        
    </div>
</div>


