<div class="telegram">
    <div class="telegram-text">
        <h2>@ViewData["Title"].</h2>
        <h3>@ViewData["Message"]</h3>

        <p>War at Sea is a web-based, player-vs-player, World War II naval combat game. Take command of your fleet and 
        advance to complete your objects and defeat your opponent. You can re-create historical encounters or create
        your own. Your game is played in a web browser, allowing you to play games at any time from anywhere.</p>

    </div>
</div>
