<div class="telegram">
    <div class="telegram-text">
        <h2>@ViewData["Title"].</h2>
        <h3>@ViewData["Message"]</h3>

        <address>
            P.O. Box 0000<br />
            West Seneca, NY 14224<br />
            <abbr title="Phone">P:</abbr>
            716.555.5555
        </address>

        <address>
            <strong>Support:</strong> <a href="mailto:wassupport@gmail.com">Email WaS Support</a>
        </address>
    </div>
</div>
