@{
    ViewBag.Title = "Build";
}

<h2>Build or Edit Your Fleet</h2>
<div class="welcome">
    <img id="telegram" src="~/Images/Telegram.jpg" />
    <section>

        <p>
            Build or Edit Your Fleet
        </p>
    </section>
</div>
