<div class="telegram">
    <div class="telegram-text">
        <p>WELCOME TO WAR AT SEA</p>
        <p>RECREATE THE FIERCE AND EPIC OCEANIC BATTLES OF WWII</p>
        <p>SELECT "LOGIN" FROM THE OPTIONS MENU TO CONTINUE A SAVED GAME, EDIT A SAVED FLEET,
        OR TO SEE YOUR BATTLE HISTORY</p>
        <p>SELECT "FLEETS" FROM THE OPTIONS MENU TO CREATE A FLEET</p>
        <p>SELECT "PLAY" FROM THE OPTIONS MENU TO START A GAME</p>
        <p>WE LOOK FORWARD TO YOUR FEEDBACK ABOUT THE GAME</p>
    </div>
</div>
