<div class="telegram">
    <div class="telegram-text">
        <p>Welcome to War at Sea! Here you can relive the glorious oceanic battles
        of World War II in the air, on the waves, and beneath the surf.</p>
        <p>Select "Play" from the Options menu to start a new game or continue a 
            game in progress.</p>
        <p>We'd love to hear your feedback about the game!</p>
    </div>
</div>
