@{
    ViewBag.Title = "Home";
}

<div class="welcome">
    <img id="telegram" src="~/Images/Telegram.jpg" />
    <section>
        
        <p>Welcome to War at Sea! Here you can relive the glorious oceanic battles
        of World War II in the air, on the waves, and beneath the surf.
        </p>
    </section>
</div>
