<div class="telegram">
        <ul class="telegram-text">
            <li class="telegram-li">Setup</li>
            <li class="telegram-li">Fleet Building</liclass="telegram-li">
            <li class="telegram-li">Opening Moves</liclass="telegram-li">
            <li class="telegram-li">Larger Engagements</liclass="telegram-li">
            <li class="telegram-li">Night Fighting</liclass="telegram-li">
            <li class="telegram-li">Scenarios</liclass="telegram-li">
        </ul>
</div>