<div class="telegram">
        <ul class="telegram-text">
            <li class="telegram-li">SETUP</li>
            <li class="telegram-li">FLEET BUILDING</li>
            <li class="telegram-li">OPENING MOVES</li>
            <li class="telegram-li">LARGER ENGAGEMENTS</li>
            <li class="telegram-li">NIGHT FIGHTING</li>
            <li class="telegram-li">SCENARIOS</li>
        </ul>
</div>